<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar </h4>
        <div class="progress m-t-20">
          <div class="progress-bar bg-info progress-bar-striped active"
            style="height:10px;"
            role="progressbar"
            [style.width]="getProgress1"
           >
          </div>
        </div>

        <div class="progress m-t-20">
          <div class="progress-bar bg-success progress-bar-striped active"
            style="height:10px;"
            role="progressbar"
            [style.width]="getProgress2"
           >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
          <app-incrementador
            (valorSalida)="progress1 = $event"
            [progreso]="13"
            [btnClass]="'btn-warning'"
          ></app-incrementador>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador (valorSalida)="progress2 = $event" [progreso]="13"></app-incrementador>
      </div>
    </div>
  </div>
</div>
